.bigContainer{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8d8d8d;
}
.whitebg{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:70%;
}

@media only screen and (max-width:769px) {
    .bigContainer {
        justify-content: center;
    }
    .whitebg{
        flex-direction: row;
        width:100%;
    }
    .drum-container{
        width:50%;
        margin: 0;
    }
}